{% extends 'base.html' %}
{% block content %}
<div>
    <h5>주문하기</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
        <div role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        <div>
            <label for="store_name">가게명</label>
            <input type="text" name="store_name" id="store_name">
        </div>
        <div>
            <label for="order_list">주문 내용</label>
            <textarea name="order_list" id="order_list" rows="5"></textarea>
        </div>
        <button type="submit">주문</button>
    </form>
</div>
{% endblock %}